h2{
    font-family: 'Roboto';
    font-size: 25px;
    letter-spacing: -0.2px;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 20px;
    color: #fff;
}

h3{
    font-family: 'Roboto';
    font-size: 20px;
    letter-spacing: -0.2px;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 20px;
    color:black;
}

div{
    background-color: #fff;
    margin-top: 20px;
    border-radius: 40px;
    height: 150px;
    width: 250px;
    padding: 15px;
    font-family: 'Roboto Condensed';
    font-size: 20px;
    letter-spacing: -0.2px;
    font-weight: 900px;
    color:black;
}

body{
    background-color: #2e2e2e;
}